<!doctype html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Haru - Add new Lead</title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet'>
</head>

<body oncontextmenu='return false' class='snippet-body'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <img src="https://haru-media.com/wp-content/uploads/2020/09/Haru-Logo.png">
            <input id="username" name="username" value="<%= username %>" hidden readonly></input>
        </div>
    </nav>
    <div class="container">
        <div class="row header" style="text-align:center;color:green">
            <h3>Thêm thông tin Lead mới</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <form action="/addLead" id="add_lead_form" method="post">
                    <div class="row">
                        <div class="col-sm-5" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_name">Tên khách hàng*</label>
                                <input type="text" class="form-control" name="cus_name" placeholder="vd. Nguyễn Văn A"
                                    id="cus_name" onkeyup="validate_cus_name()" required>
                                <small style="color:red;" class="form-text text-muted" id="error_cus_name"></small>
                            </div>
                        </div>
                        <div class="col-sm-4" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="loan_amount">Số tiền vay (vnđ)*</label>
                                <input type="text" class="form-control is-valid" class="numbers"
                                    pattern="^(10,000,00[0-9]|10,000,0[1-9][0-9]|10,000,[1-9][0-9]{2}|10,00[1-9],[0-9]{3}|10,0[1-9][0-9],[0-9]{3}|10,[1-9][0-9]{2},[0-9]{3}|1[1-9],[0-9]{3},[0-9]{3}|[2-4][0-9],[0-9]{3},[0-9]{3}|50,000,000)$"
                                    name="loan_amount" placeholder="10,000,000 - 50,000,000" id="loan_amount"
                                    onkeyup="addCommasLoanAmount();" required>
                                <small style="color:red;" class="form-text text-muted" id="error_loan_amount"></small>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="loan_duration">Kỳ hạn vay (tháng)*</label>
                                <input type="text" class="form-control" pattern="^([6-9]|[12][0-9]|3[0-6])$"
                                    name="loan_duration" placeholder="6 - 36 tháng" id="loan_duration"
                                    onkeyup="validate_loan_duration()" required>
                                <small style="color:red;" class="form-text text-muted" id="error_loan_duration"></small>

                            </div>
                        </div>
                        
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_id">Số CMND/CCCD*</label>
                                <input type="text" class="form-control" name="cus_id"
                                    placeholder="CMND: 9 chữ số, CCCD: 12 chữ số" id="cus_id"
                                    pattern="^([0-9]{9})$|^([0-9]{12})$" onkeyup="validate_cus_id()" required>
                                <small style="color:red;" class="form-text text-muted" id="error_cus_id"></small>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_phone">Số điện thoại*</label>
                                <input type="text" class="form-control" pattern="^0(3|5|7|8|9)[0-9]{8}$"
                                    name="cus_phone" placeholder="vd. 0933xxxxxx" id="cus_phone"
                                    onkeyup="validate_cus_phone()" required>
                                <small style="color:red;" class="form-text text-muted" id="error_cus_phone"></small>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_dob">Ngày sinh*</label>
                                <input type="date" class="form-control" pattern="|[a-zA-Z0-9]" name="cus_dob"
                                    id="cus_dob" onkeyup="validate_cus_dob()" required>
                                <small style="color:red;" class="form-text text-muted" id="error_cus_dob"></small>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_gender">Giới tính*</label>
                                <select class="form-control" id="cus_gender" for="cus_gender" name="cus_gender"
                                    required>
                                    <option hidden value="">Giới tính</option>
                                    <option value="Nam"> Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                                <!-- <script defer>
                                    jQuery('#cus_gender').val("<?=cus_gender ?>")
                                </script> -->
                            </div>
                            <!-- <fieldset class="form-group" for="cus_gender">
                                <label class="col-form-label" for="cus_gender">Giới tính*</label>
                                <div>
                                    <input type="radio" id="cus_gender" name="cus_gender" style="margin-left: 30px;"
                                        value="Nam">
                                    <label for="cus_gender">Nam</label>

                                    <input type="radio" id="cus_gender" name="cus_gender" style="margin-left: 30px;"
                                        value="Nữ">
                                    <label for="cus_gender">Nữ</label>
                                </div>
                            </fieldset> -->
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label">Tỉnh/Thành phố*</label>
                                <select class="form-control" id="calc_shipping_city" required>
                                    <option value="" selected disabled onkeyup="update_hidden_city()">Tỉnh / Thành phố</option>
                                </select>
                                <input required type="hidden" class="address_1" name="cus_cur_city" id="cus_cur_city">
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_cur_district">Quận/Huyện*</label>
                                <select class="form-control" id="calc_shipping_district" required>
                                    <option value="" selected disabled>Quận / Huyện</option>
                                </select>
                                <input class="address_2" name="cus_cur_district" type="hidden" required>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_cur_ward">Xã/Phường* </label>
                                <input type="text" class="form-control" name="cus_cur_ward" id="cus_cur_ward" required>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_cur_address">Địa chỉ* </label>
                                <input type="text" class="form-control" name="cus_cur_address"
                                    placeholder="số nhà, tên đường, khu/ phố" id="cus_cur_address" required>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_income">Thu nhập hàng tháng (vnđ)*</label>
                                <input type="text" class="form-control" name="cus_income"
                                    placeholder="3,000,000 - 100,000,000" id="cus_income" onkeyup="addCommasIncome();"
                                    pattern="^(3,000,00[0-9]|3,000,0[1-9][0-9]|3,000,[1-9][0-9]{2}|3,00[1-9],[0-9]{3}|3,0[1-9][0-9],[0-9]{3}|3,[1-9][0-9]{2},[0-9]{5}|[4-9],[0-9]{3},[0-9]{3}|[1-9][0-9],[0-9]{3},[0-9]{3}|100,000,000)$"
                                    required>
                                <small style="color:red;" class="form-text text-muted" id="error_cus_income"></small>
                            </div>
                        </div>
                        <div class="col-sm-3" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_income_type">Loại hình thu nhập*</label>
                                <select class="form-control" id="cus_income_type" name="cus_income_type"
                                    for="cus_income_type" id="cus_income_type" required>
                                    <option value="" selected disabled hidden>Loại hình thu nhập</option>
                                    <option>Tự kinh doanh</option>
                                    <option>Việc làm ổn định</option>
                                    <option>Việc làm không thường xuyên</option>
                                    <option>Sinh viên</option>
                                    <option>Nghỉ hưu</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="cus_email">Email</label>
                                <input type="text" class="form-control" name="cus_email" id="cus_email">
                            </div>
                        </div>
                        <div class="col-sm-2" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="source">Nguồn thông tin</label>
                                <select type="text" class="form-control" name="source" id="source">
                                    <option value="" selected disabled hidden> Nguồn thông tin</option>
                                    <option>Facebook</option>
                                    <option>Zalo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-2" style="height:95px">
                            <div class="form-group">
                                <label class="col-form-label" for="medium">Kênh thông tin</label>
                                <select type="text" class="form-control" name="medium" id="medium">
                                    <option value="" selected disabled hidden> Kênh thông tin</option>
                                    <option>Inbox</option>
                                    <option>Comment</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="center" style="margin-top:10px">
                        <button type="submit" class="btn btn-success">Thêm Lead</button>
                        <a href="/allLeads" class="btn btn-light">Hủy </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script async="async" defer="defer"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script async="async" defer="defer" src="https://apis.google.com/js/api:client.js" gapi_processed="true"></script>
    <script async="async" defer="defer"
        src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js"></script>
    <script>
        //<![CDATA[
        window.addEventListener('load', function () {
            if (address_2 = localStorage.getItem('address_2_saved')) {
                $('#calc_shipping_district option').each(function () {
                    if ($(this).text() == address_2) { $(this).attr('selected', '') }
                })
                $('input.address_2').attr('value', address_2)
            }
            if (district = localStorage.getItem('district')) {
                $('#calc_shipping_district').html(district)
                $('#calc_shipping_district').on('change', function () {
                    var target = $(this).children('option:selected')
                    target.attr('selected', '')
                    $('#calc_shipping_district option').not(target).removeAttr('selected')
                    address_2 = target.text()
                    $('input.address_2').attr('value', address_2)
                    district = $('#calc_shipping_district').html()
                    localStorage.setItem('district', district)
                    localStorage.setItem('address_2_saved', address_2)
                })
            }
            $("#calc_shipping_city").each(function () {
                var $this = $(this),
                    stc = ''
                c.forEach(function (i, e) {
                    e += +1
                    stc += '<option value=' + e + '>' + i + '</option>'
                    $this.html('<option selected value="">Tỉnh / Thành phố</option>' + stc)
                    if (address_1 = localStorage.getItem('address_1_saved')) {
                        $('#calc_shipping_city option').each(function () {
                            if ($(this).text() == address_1) {
                                $(this).attr('selected', '')
                            }
                        })
                        $('input.address_1').attr('value', address_1)
                    }
                    $this.on('change', function (i) {
                        i = $this.children('option:selected').index() - 1
                        var str = '',
                            r = $this.val()
                        if (r != '') {
                            arr[i].forEach(function (el) {
                                str += '<option value="' + el + '">' + el + '</option>'
                                $('#calc_shipping_district').html('<option selected value="">Quận / Huyện</option>' + str)
                            })
                            var address_1 = $this.children('option:selected').text()
                            var district = $('#calc_shipping_district').html()
                            localStorage.setItem('address_1_saved', address_1)
                            localStorage.setItem('district', district)
                            $('#calc_shipping_district').on('change', function () {
                                var target = $(this).children('option:selected')
                                target.attr('selected', '')
                                $('#calc_shipping_district option').not(target).removeAttr('selected')
                                var address_2 = target.text()
                                $('input.address_2').attr('value', address_2)
                                district = $('#calc_shipping_district').html()
                                localStorage.setItem('district', district)
                                localStorage.setItem('address_2_saved', address_2)
                            })
                        } else {
                            $('#calc_shipping_district').html('<option selected value="">Quận / Huyện</option>')
                            district = $('#calc_shipping_district').html()
                            localStorage.setItem('district', district)
                            localStorage.removeItem('address_1_saved', address_1)
                        }
                    })
                })
            })
        })
    //]]>
    </script>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery.numberformatter.js"></script>
    <script>
        function addCommas(str) {
            return str.replace(/^0+/, '').replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function addCommasLoanAmount(str) {
            var val_loan_amount = document.getElementById('loan_amount').value;
            document.getElementById('loan_amount').value = addCommas(val_loan_amount);
            val_loan_amount = document.getElementById('loan_amount').value;
            let pattern = /^(10,000,00[0-9]|10,000,0[1-9][0-9]|10,000,[1-9][0-9]{2}|10,00[1-9],[0-9]{3}|10,0[1-9][0-9],[0-9]{3}|10,[1-9][0-9]{2},[0-9]{3}|1[1-9],[0-9]{3},[0-9]{3}|[2-4][0-9],[0-9]{3},[0-9]{3}|50,000,000)$/
            if (!val_loan_amount.match(pattern)) {
                document.getElementById("error_loan_amount").innerHTML = "⚠ Nhập số tiền từ 10,000,000 đến 50,000,000";
            }
            else {
                document.getElementById("error_loan_amount").innerHTML = "";
            }
        }

        function addCommasIncome(str) {
            var val_cus_income = document.getElementById('cus_income').value;
            document.getElementById('cus_income').value = addCommas(val_cus_income);
            val_cus_income = document.getElementById('cus_income').value;
            let pattern = /^(3,000,00[0-9]|3,000,0[1-9][0-9]|3,000,[1-9][0-9]{2}|3,00[1-9],[0-9]{3}|3,0[1-9][0-9],[0-9]{3}|3,[1-9][0-9]{2},[0-9]{5}|[4-9],[0-9]{3},[0-9]{3}|[1-9][0-9],[0-9]{3},[0-9]{3}|100,000,000)$/
            if (!val_cus_income.match(pattern)) {
                document.getElementById("error_cus_income").innerHTML = "⚠ Thu nhập Khách hàng từ 3,000,000 đến 100,000,000";
            }
            else {
                document.getElementById("error_cus_income").innerHTML = "";
            }
        }

        function validate_loan_duration() {
            var val_loan_duration = document.getElementById('loan_duration').value;
            let pattern = /^([6-9]|[12][0-9]|3[0-6])$/
            if (!val_loan_duration.match(pattern)) {
                document.getElementById("error_loan_duration").innerHTML = "⚠ Kỳ hạn vay từ 6 đến 36 tháng";
            }
            else {
                document.getElementById("error_loan_duration").innerHTML = "";
            }
        }

        function removeAscent(str) {
            if (str === null || str === undefined) return str;
            str = str.toLowerCase();
            str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
            str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
            str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
            str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
            str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
            str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
            str = str.replace(/đ/g, "d");
            return str;
        }

        function validate_cus_name() {
            var val_cus_name = document.getElementById('cus_name').value;
            let pattern = /^[a-zA-Z][a-zA-Z ]{2,}$/
            val_cus_name = removeAscent(val_cus_name)
            if (!val_cus_name.match(pattern)) {
                document.getElementById("error_cus_name").innerHTML = "⚠ Tên Khách hàng chỉ được nhập chữ cái";
            }
            else {
                document.getElementById("error_cus_name").innerHTML = "";
            }
        }

        function validate_cus_id() {
            var val_cus_id = document.getElementById('cus_id').value;
            let pattern = /^([0-9]{9})$|^([0-9]{12})$/
            if (!val_cus_id.match(pattern)) {
                document.getElementById("error_cus_id").innerHTML = "⚠ CMND/CCCD gồm 9 hoặc 12 chữ số";
            }
            else {
                document.getElementById("error_cus_id").innerHTML = "";
            }
        }

        function validate_cus_phone() {
            var val_cus_phone = document.getElementById('cus_phone').value;
            let pattern = /^0(3|5|7|8|9)[0-9]{8}$/
            if (!val_cus_phone.match(pattern)) {
                document.getElementById("error_cus_phone").innerHTML = "⚠ Số điện thoại gồm 10 chữ số bắt đầu bằng số 0 và đầu số hợp lệ";
            }
            else {
                document.getElementById("error_cus_phone").innerHTML = "";
            }
        }

        function validate_cus_dob() {
            // var val_cus_dob = document.getElementById('cus_dob').value.toStrings();
            // //let pattern = /^0(3|5|7|8|9)[0-9]{8}$/
            // // if (!val_cus_phone.match(pattern)) {
            // //     document.getElementById("error_cus_phone").innerHTML = 
            // // }
            // // else {
            // //     document.getElementById("error_cus_phone").innerHTML = "";
            // // }
            // document.getElementById("error_cus_dob").innerHTML = "aa";
        }

        function validate_cus_income() {
            var val_cus_income = document.getElementById('cus_income').value;
            let pattern = /^(3,000,00[0-9]|3,000,0[1-9][0-9]|3,000,[1-9][0-9]{2}|3,00[1-9],[0-9]{3}|3,0[1-9][0-9],[0-9]{3}|3,[1-9][0-9]{2},[0-9]{5}|[4-9],[0-9]{3},[0-9]{3}|[1-9][0-9],[0-9]{3},[0-9]{3}|100,000,000)$/
            val_cus_income = document.getElementById('cus_income').value;
            if (!val_cus_income.match(pattern)) {
                document.getElementById("error_cus_income").innerHTML = "⚠ Thu nhập Khách hàng từ 3,000,000 đến 100,000,000";
            }
            else {
                document.getElementById("error_cus_income").innerHTML = "";
            }
        }

        function update_hidden_city(){
            var val_city = document.getElementById('calc_shipping_city').value;
            document.getElementById("cus_cur_city").value = val_city;
        }


    </script>
</body>

</html>